---
layout: default
permalink: /
---

<div class="container back-button"><a href="{{site.baseurl}}/tutorials"><i class="fa fa-arrow-left"
                                                                           aria-hidden="true"></i> Tutorials</a></div>
<div class="container content">
    <div class="title">
        <h1>{{page.title}}</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ content }}
        </div>
    </div>


    <div class="row tutorial-nav">
        <div class="col-xs-12 text-center">
            {% if page.previous.url %}<a class="btn btn-default" href="{{page.previous.url | prepend:site.baseurl }}"><i
                class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a>
            {% endif %}
            <a class="btn btn-default" href="{{site.baseurl}}/tutorials">Back to Main</a>
            {% if page.next.url %}<a class="btn btn-default" href="{{page.next.url | prepend:site.baseurl }}">Next <i
                class="fa fa-arrow-right" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
</div>